/* Style the base */

* {
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.contain {
    object-fit: contain;
    height: 680px; 
}


/* Responsive layout */
@media (min-width: 641px) and (max-width: 1080px) {
    * {
        font-size: 14px;
    }
    .grid-container {
        grid-template-columns: 220px auto; /* fixed size - would be removed */
    }    
    label.status {
        font-size: 16px;
    }    
    .button-h {
        display: none;
    }
    table {
        width: 86%
    }
}
@media (min-width: 480px) and (max-width: 640px) {
    * {
        font-size: 12px;
    }
    .grid-container {
        grid-template-columns: 180px auto; /* fixed size - would be removed */
    }
    label.status {
        font-size: 14px;
    }    
    table {
        width: 98%
    }
    .button-h {
        display: none;
    }
}

