/* Style the base */

* {
    /* font-size: 16px; */
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

/* Responsive layout */
@media (min-width: 1081px) {
    * {
        font-size: 16px;
    }
}

@media (max-width: 1080px) {
    * {
        font-size: 14px;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.contain {
    object-fit: contain;
    height: 680px; 
}