/* The grid container */

#grid-container {
    display: grid;
    grid-template-columns: 280px, auto;
    grid-template-areas: 
        'top      top      top'
        'top-left top-left top-right' 
        'left     right    right' 
        'foot     foot     foot';
} 

.top, .top-left,.top-right {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;       
}

/* Style the header */

.top {
    grid-area: top;
    background-color: #999;
    color: black;
    text-align: center;
}

/* Style the menu */

.top-left, .top-right {
    background-color: #666;
    color: white;
}

.top-left {
    grid-area: top-left;
    text-align: left;
}

.top-right {
    grid-area: top-right;
    text-align: right;
}

.left, .right {
    height: 760px; /* fixed size - would be removed */
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

/* Style the left column */
.left {
    grid-area: left;
    background-color: #aaa;
}

/* Style the right column */
.right {
    grid-area: right;
    background-color: whitesmoke;
}

/* Style the footer */
.foot {
    grid-area: foot;
    background-color: #999;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}