<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/assets/images/logo.png">
    <!-- <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="stylesheet" href="/assets/styles/header.css">
    <link rel="stylesheet" href="/assets/styles/screen.css">
    <link rel="stylesheet" href="/assets/styles/footer.css"> -->
    <title>Sensor Data Monitoring & Aanalysis </title>
    {% block head %}
    [Sensor Data Monitoring & Analysis -- Pilot Application -- started Oct. 1st, 2020]<br><br>
    {% endblock %}
</head>

<body>
    <div class="main">
        {% block main %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
</body>

</html>