{% extends "base.html" %}
{% block main %}
<div class="form">
    This is an example form.<br>
    This example shows you a sine curve with the given amplitude.<br>
    <label>Value</label>
    <input type="text" id="value-input" value="1.5" />
    <button onclick="sendValue()">Send</button>
    <div id="chart-box"></div>
</div>
<script>
    function sendValue() {
        const value = document.getElementById('value-input').value;
        axios.post('/post_test', {
            value: Number(value),
        }).then(response => {
            const data = response.data;
            drawChart(data);
            // console.log(data);
        }).catch(function (error) {
            alert('Error occurred on submit: ' + error);
        });
    }

    function drawChart(data) {
        // Clear the chart box.
        document.getElementById('chart-box').innerHTML = '';

        // set the dimensions and margins of the graph
        var margin = {top: 10, right: 30, bottom: 30, left: 60},
            width = 460 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        var svg = d3.select("#chart-box")
            .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

        // Add X axis
        var x = d3.scaleLinear()
            .domain([d3.min(data.x), d3.max(data.x)])
            .range([ 0, width ]);
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([d3.min(data.y), d3.max(data.y)])
            .range([ height, 0 ]);
        svg.append("g")
            .call(d3.axisLeft(y));

        var points = [];
        data.x.forEach((value, i) => {
            points.push({x: value, y: data.y[i]});
        });

        // Add the line
        svg.append("path")
            .datum(points)
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 1.5)
            .attr("d", d3.line()
                .x(function(d) { return x(d.x) })
                .y(function(d) { return y(d.y) })
            );
    }
</script>
{% endblock %}