{% extends "m_base.html" %}

{% block foot %}
    <div style="color:#fff;">Push [Run] button to run data acquisition...</div>
{% endblock %}

{% block left %}
    <div style="text-align:center;"><b>Sensor Data Acquisition</b></div><br> 
    <div style="text-align: right">
        <label for="btn_start_1">Run accelometer sensor</label>
        <button class="button-l" id="btn_start_1" name="btn_start_1" onclick="startSTEandBDT()"> Run... </button>
    </div><br>
    <div style="text-align: right">
        <label for="btn_start_2">Sensor CSV data transfer</label>
        <button class="button-l" id="btn_start_2" name="btn_start_2" onclick="startBDTtoSever()" disabled> Run... </button>
    </div><br>
    <div style="text-align: right">
        <label for="btn_start_3">Data save to *.csv file</label>
        <button class="button-l" id="btn_start_3" name="btn_start_3" onclick="startBDTtoFile()"   disabled> Run... </button>
    </div>
{% endblock %}

{% block right %}

<div style="text-align:center; font-weight:bold; font: size 16;"><b>Sensor Data Acquisition Running Status</b></div>
<div style="text-align:left;   font-weight:bold; font: size 16; color:blue"  id="inf_message"><br></div>
<div style="text-align:left;   font-weight:bold; font: size 20; color:red"   id="err_message"></div>
<div style="text-align:left;   font-weight:bold; font: size 20; color:black" id="fin_message"></div>     

<script>

    function startSTEandBDT() {
        // get value from UI
        //const value = document.getElementById('???').value;

        //control UI before function run
        disableAllMenus('N');
        document.getElementById("btn_start_1").disabled = true;
        // display pre-messages
        document.getElementById("inf_message").innerHTML += "▶ run STE(Short Time Experiment), then BDT(Block Data Transfer): SENSOR ➜ EDGE-DEVICE<br>";
        document.getElementById("err_message").innerHTML  = "<br>✋ it will take some minutes(⏱), wait until completed";
        // run flask function
        axios.post('/post_STEandBDT', {
            //value: Number(value),
        }).then(response => {
            const data = response.data;
            // display post-message
            document.getElementById("err_message").innerHTML  = ''
            document.getElementById("inf_message").innerHTML += "__✔ completed: " + data.msg_00 + "<br>";
            // control UI after function run
            document.getElementById("btn_start_2" ).disabled = false;
            enableAllMenus('N');
        }).catch(function (error) {
            // display error-message
            document.getElementById("err_message").innerHTML = "<br>❗ Error occurred on submit: " + error;
        });
    }

    function startBDTtoSever() {
        // get value from UI
        //const value = document.getElementById('???').value;

        //control UI before function run
        disableAllMenus('N');
        document.getElementById("btn_start_2").disabled = true;
        // display pre-messages
        document.getElementById("inf_message").innerHTML += "▶ run BDT(Block Data Transfer): EDGE-DEVICE ➜ SERVER<br>";
        document.getElementById("err_message").innerHTML  = "<br>✋ it will take some minutes(⏱), wait until completed";
        // run flask function
        axios.post('/post_BDTtoServer', {
            //value: Number(value),
        }).then(response => {
            const data = response.data;
            // display post-message
            document.getElementById("err_message").innerHTML  = ''
            document.getElementById("inf_message").innerHTML += "__✔ completed: " + data.msg_00 + "<br>";
            // control UI after function run
            document.getElementById("btn_start_3" ).disabled = false;    
            enableAllMenus('N');
        }).catch(function (error) {
            // display error-message
            document.getElementById("err_message").innerHTML = "<br>❗ Error occurred on submit: " + error;
        });
    }

    function startBDTtoFile() {
        // get value from UI
        //const value = document.getElementById('???').value;

        //control UI before function run
        disableAllMenus('N');
        document.getElementById("btn_start_3").disabled = true;
        // display pre-messages
        document.getElementById("inf_message").innerHTML += "▶ save data to \".CSV\" formated file<br>";
        // run flask function
        axios.post('/post_BDTtoFile', {
            //value: Number(value),
        }).then(response => {
            const data = response.data;
            // display post-message
            document.getElementById("err_message").innerHTML  = ''
            document.getElementById("inf_message").innerHTML += "__✔ completed: " + data.msg_00;
            document.getElementById("fin_message").innerHTML += "🙂 all done, congratuation !";
            // control UI after function run
            enableAllMenus('N');
        }).catch(function (error) {
            // display error-message
            document.getElementById("err_message").innerHTML = "<br>❗ Error occurred on submit: " + error;
        });
    }    

</script>

<script type="text/javascript" src="/static/js/misc.js"></script>

{% endblock %}