{% extends "m_base.html" %}

{% block left %}
    <p style="text-align:center;"><Strong>Sensor Data Analysis</Strong><cr></p> 
    <p style="text-align: right; padding-right:8px;"><button id="btn_start_1" onclick="startSTEandBDT()"> Start </button></p>
    <p style="text-align: right; padding-right:8px;"><button id="btn_start_2" onclick="startBDTtoServer()" disabled> Start </button></p>
    <p style="text-align: right; padding-right:8px;"><button id="btn_start_3" onclick="startBDTtoFile()"  disabled> Start </button></p>
    <p style="position:absolute; left:  8px; top: 70px;"><label>Run accelometer sensor</label></p>
    <p style="position:absolute; left:  8px; top:90px;"><label>Sensor CSV data transfer</label></p>
    <p style="position:absolute; left:  8px; top:110px;"><label>Sensor data save to *.csv file</label></p>
{% endblock %}

{% block foot %}
    <p style="color:aqua;">Analysis Sensor Data...</p>
{% endblock %}

{% block right %}

<p style="text-align:left;  padding-top:4px; padding-left:8px"><Strong>SCD Sensor Analysis - on-time running</Strong><cr></p>

<script>

function startSTEandBDT() {
        //const value = document.getElementById('tm_interval').value;
        document.getElementById("btn_start_1").disabled = true;
        axios.post('/post_STEandBDT', {
            //value: Number(value),
        }).then(response => {
            const data = response.data;
            //
            // coding here
            //
            //console.log(data);
        }).catch(function (error) {
            alert('Error occurred on submit: ' + error);
        });
        document.getElementById("btn_START_2" ).disabled = false;
    }

function startBDTtoSever() {
        //const value = document.getElementById('tm_interval').value;
        document.getElementById("btn_start_2").disabled = true;
        axios.post('/post_BDTtoServer', {
            //value: Number(value),
        }).then(response => {
            const data = response.data;
            //
            // coding here
            //
            //console.log(data);
        }).catch(function (error) {
            alert('Error occurred on submit: ' + error);
        });
        document.getElementById("btn_START_1" ).disabled = false;
        document.getElementById("btn_START_3" ).disabled = false;
    }

function startBDTtoFile() {
        //const value = document.getElementById('tm_interval').value;
        document.getElementById("btn_START_3" ).disabled = True;
        axios.post('/post_BDTtoFile', {
            //value: Number(value),
        }).then(response => {
            const data = response.data;
            //
            // coding here
            //
            //console.log(data);
        }).catch(function (error) {
            alert('Error occurred on submit: ' + error);
        });
    }    

</script>

{% endblock %}