{% extends "m_base.html" %}

{% block foot %}
    <div style="color:aqua;">Display Frequency Graph...</div>
{% endblock %}

{% block left %}
    <div style="text-align:center;"><label><Strong>Graph X & Y Axis Setting</Strong></label></div><br> 
    <div style="text-align:right;"><button id="btn_draw" onclick="dispGraph('green')"><Strong> Draw Graph </Strong></button></div>
    
    <div style="position:absolute; left:  8px; top:128px;"><label>Scaling Mode:</label></div>
    <div style="position:absolute; left:100px; top:128px;"><input type="radio" id="auto_scroll" name="scroll" value="auto_scroll" checked>
                                                           <label>Automatic</label></div>
    <div style="position:absolute; left:100px; top:146px;"><input type="radio" id="man_scroll" name="scroll" value="man_scroll">
                                                           <label>Manual</label></div>
    
    <div style="position:absolute; left:  8px; top:172px;"><label>Y (g)</label></div>
    <div style="position:absolute; left: 70px; top:172px;"><label for="y_min">Min</label></div>
    <div style="position:absolute; left:102px; top:170px;"><input type="number" id="y_min" value="0"></div>
    <div style="position:absolute; left: 70px; top:202px;"><label for="y_max">Max</label></div>
    <div style="position:absolute; left:102px; top:200px;"><input type="number" id="y_max" value="0.50"></div>   
    <div style="position:absolute; left: 70px; top:232px;"><label for="y_grid">Grid</label></div>
    <div style="position:absolute; left:102px; top:230Px;"><input type="number" id="y_grid" value="0.05"></div>
    
    <div style="position:absolute; left:  8px; top:272px;"><label>X (Hz)</label></div>
    <div style="position:absolute; left: 70px; top:272px;"><label>Min</label></div>
    <div style="position:absolute; left:102px; top:270px;"><input type="number" id="x_min" value="0"></div>  
    <div style="position:absolute; left: 70px; top:302px;"><label>Max</label></div>
    <div style="position:absolute; left:102px; top:300px;"><input type="number" id="x_max" value="200"></div>
    <div style="position:absolute; left: 70px; top:332px;"><label>Grid</label></div>
    <div style="position:absolute; left:102px; top:330px;"><input type="number" id="x_grid" value="1600"></div>
  
    <div style="position:absolute; left:  8px; top:370px;"><label>Draw Mode:</label></div>
    <div style="position:absolute; left:100px; top:370px;"><input type="radio" id="draw_s" name="draw" value="draw_s" checked>
                                                           <label>Fourier Transform</label></div>
{% endblock %}

{% block right %}

    <div style="text-align:left"><Strong>Accelerometer Sensor Data - Frequency Graph</Strong></div>
    <div style="text-align:left">
        <label id="time_stamp_label"></label>Sensor Measured Time : </label>
        <label id="time_stamp" style="font-weight:bold; color:blueviolet;"></label>
    </div> 
    
    <div class="form">
        <div id="chart-box"></div>
    </div>

    <script>
        function dispGraph(color_val) {
            document.getElementById("btn_draw").disabled = true;
            // const value = document.getElementById('???').value;
            axios.post('/post_graphFreq', {
                // value: Number(value),
            }).then(response => {
                const data = response.data;
                drawGraph(data, color_val);
                document.getElementById("time_stamp").innerHTML = data.t
                // console.log(data);
            }).catch(function (error) {
                alert('Error occurred on submit: ' + error);
            });
            document.getElementById("btn_draw").disabled = false;
        }
    </script>
    
{% endblock %}