{% extends "m_base.html" %}

{% block foot %}
    <div style="color:aqua;">Display Frequency Graph...</div>
{% endblock %}

{% block left %}
    <div style="text-align:center;"><label><Strong>Graph X & Y Axis Setting</Strong></label></div><br> 
    <div style="text-align:right;"><button id="btn_draw" onclick="dispGraph()"><Strong> Draw Graph </Strong></button></div>
    
    <div style="position:absolute; left:  8px; top:128px;"><label>Scaling Mode:</label></div>
    <div style="position:absolute; left:100px; top:128px;"><input type="radio" id="auto_scroll" name="scroll" value="auto_scroll" checked>
                                                           <label>Automatic</label></div>
    <div style="position:absolute; left:100px; top:146px;"><input type="radio" id="man_scroll" name="scroll" value="man_scroll">
                                                           <label>Manual</label></div>
    
    <div style="position:absolute; left:  8px; top:172px;"><label>Y (g)</label></div>
    <div style="position:absolute; left: 70px; top:172px;"><label for="y_min">Min</label></div>
    <div style="position:absolute; left:102px; top:170px;"><input type="number" id="y_min" value="0"></div>
    <div style="position:absolute; left: 70px; top:202px;"><label for="y_max">Max</label></div>
    <div style="position:absolute; left:102px; top:200px;"><input type="number" id="y_max" value="40"></div>   
    <div style="position:absolute; left: 70px; top:232px;"><label for="y_grid">Grid</label></div>
    <div style="position:absolute; left:102px; top:230Px;"><input type="number" id="y_grid" value="5"></div>
    
    <div style="position:absolute; left:  8px; top:272px;"><label>X (sec)</label></div>
    <div style="position:absolute; left: 70px; top:272px;"><label>Min</label></div>
    <div style="position:absolute; left:102px; top:270px;"><input type="number" id="x_min" value="0.0"></div>  
    <div style="position:absolute; left: 70px; top:302px;"><label>Max</label></div>
    <div style="position:absolute; left:102px; top:300px;"><input type="number" id="x_max" value="3.0"></div>
    <div style="position:absolute; left: 70px; top:332px;"><label>Grid</label></div>
    <div style="position:absolute; left:102px; top:330px;"><input type="number" id="x_grid" value="0.5"></div>
  
    <div style="position:absolute; left:  8px; top:370px;"><label>Draw Mode:</label></div>
    <div style="position:absolute; left:100px; top:370px;"><input type="radio" id="draw_s" name="draw" value="draw_s" checked>
                                                           <label>Fourier Transform</label></div>
{% endblock %}

{% block right %}

<div style="text-align:left"><Strong>Accelerometer Sensor Data - Frequency Graph</Strong></div>

<div class="form">
    <div id="chart-box"></div>
</div>

<script>
    function dispGraph() {
        document.getElementById("btn_draw").disabled = true;
        // const value = document.getElementById('???').value;
        axios.post('/post_graphTime', {
            // value: Number(value),
        }).then(response => {
            const data = response.data;
            drawGraph(data);
            // console.log(data);
        }).catch(function (error) {
            alert('Error occurred on submit: ' + error);
        });
        document.getElementById("btn_draw").disabled = false;
    }

    function drawGraph(data) {
        // Clear the chart box.
        document.getElementById('chart-box').innerHTML = '';

        // set the dimensions and margins of the graph
        var margin = {top: 20, left: 30, bottom: 20, right: 20},
            width = 1640 - margin.left - margin.right, /* left 280px */
            height = 820 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        var svg = d3.select("#chart-box")
            .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

        // Add X axis
        var x = d3.scaleLinear()
            .domain([d3.min(data.x), d3.max(data.x)])
            .range([ 0, width ]);
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([d3.min(data.y), d3.max(data.y)])
            .range([ height, 0 ]);
        svg.append("g")
            .call(d3.axisLeft(y));

        var points = [];
        data.x.forEach((value, i) => {
            points.push({x: value, y: data.y[i]});
        });

        // Add the line
        svg.append("path")
            .datum(points)
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 1.5)
            .attr("d", d3.line()
                .x(function(d) { return x(d.x) })
                .y(function(d) { return y(d.y) })
            );
    }
</script>

{% endblock %}