{% extends "m_base.html" %}

{% block left %}
    <p style="text-align:center;"><Strong>X & Y Axis Scaling</Strong><cr></p> 
    <p style="text-align:right;"><button onclick="dispGraphFreq()"> Apply & Display Graph </button></p>
    
    <p style="position:absolute; left:  8px; top:120px;"><label>Scaling Mode:</label></p>
    <p style="position:absolute; left:100px; top:120px;"><input type="radio" id="auto_scroll" name="scroll" value="auto_scroll" checked>
                                                         <label>Automatic</label></p>
    <p style="position:absolute; left:100px; top:138px;"><input type="radio" id="man_scroll" name="scroll" value="man_scroll">
                                                         <label>Manual</label></p>
    
    <p style="position:absolute; left:  8px; top:172px;"><label>Y Axis</label></p>
    <p style="position:absolute; left: 50px; top:172px;"><label>Min</label></p>
    <p style="position:absolute; left:100px; top:170px;"><input type="text" id="y_min" value="-200"></p>
    <p style="position:absolute; left: 50px; top:202px;"><label>Max</label></p>
    <p style="position:absolute; left:100px; top:200px;"><input type="text" id="y_max" value="200"></p>   
    <p style="position:absolute; left: 50px; top:232px;"><label>Gridline</label></p>
    <p style="position:absolute; left:100px; top:230Px;"><input type="text" id="y_gridline" value="40"></p>

    <p style="position:absolute; left:  8px; top:272px;"><label>X Axis</label></p>
    <p style="position:absolute; left: 50px; top:272px;"><label>Min</label></p>
    <p style="position:absolute; left:100px; top:270px;"><input type="text" id="x_min" value="0"></p>  
    <p style="position:absolute; left: 50px; top:302px;"><label>Max</label></p>
    <p style="position:absolute; left:100px; top:300px;"><input type="text" id="x_max" value="3200"></p>
    <p style="position:absolute; left: 50px; top:332px;"><label>Gridline</label></p>
    <p style="position:absolute; left:100px; top:330px;"><input type="text" id="x_gridline" value="100"></p>

    <p style="position:absolute; left:  8px; top:370px;"><label>Sensor Axis:</label></p>
    <p style="position:absolute; left:100px; top:370px;"><input type="checkbox" id="x_axis" name="sensor_x" value="x_axis" checked>
                                                         <label>X-Axis Accleration</label></p>
    <p style="position:absolute; left:100px; top:388px;"><input type="checkbox" id="y_axis" name="sensor_y" value="y_axis" checked>
                                                         <label>Y-Axis Accleration</label></p>
    <p style="position:absolute; left:100px; top:406px;"><input type="checkbox" id="z_axis" name="sensor_z" value="z_axis" checked>
                                                         <label>Z-Axis Accleration</label></p>
{% endblock %}

{% block foot %}
    <p style="color:aqua;">Display Frequency Graph...</p>
{% endblock %}

{% block right %}

<div style="text-align:center"><Strong>Accelerometer Sensor Data - Frequency Graph</Strong></div>
    
<div class="form">
    <div id="chart-box"></div>
</div>

<script>
    function dispGraphFreq() {
        const value = document.getElementById('y_max').value;
        axios.post('/post_graphFreq', {
            value: Number(value),
        }).then(response => {
            const data = response.data;
            drawGraphFreq(data);
            // console.log(data);
        }).catch(function (error) {
            alert('Error occurred on submit: ' + error);
        });
    }

    function drawGraphFreq(data) {
        // Clear the chart box.
        document.getElementById('chart-box').innerHTML = '';

        // set the dimensions and margins of the graph
        var margin = {top: 20, left: 40, bottom: 20, right: 20},
            width = 744 - margin.left - margin.right, /* left 280px*/
            height = 820 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        var svg = d3.select("#chart-box")
            .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

        // Add X axis
        var x = d3.scaleLinear()
            .domain([d3.min(data.x), d3.max(data.x)])
            .range([ 0, width ]);
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([d3.min(data.y), d3.max(data.y)])
            .range([ height, 0 ]);
        svg.append("g")
            .call(d3.axisLeft(y));

        var points = [];
        data.x.forEach((value, i) => {
            points.push({x: value, y: data.y[i]});
        });

        // Add the line
        svg.append("path")
            .datum(points)
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 1.5)
            .attr("d", d3.line()
                .x(function(d) { return x(d.x) })
                .y(function(d) { return y(d.y) })
            );
    }
</script>

{% endblock %}

