{% extends "m_base.html" %}

{% block foot %}
    <div style="color:#fff;">Push [Draw Graph] button to draw time-series graph...</div>
{% endblock %}

{% block left %}
    <div style="text-align:center;"><label><b>Graph X & Y Axis Setting</b></label></div>
    <br> 
    <div style="text-align:right;">
        <button class="button-l" id="btn_draw" onclick="dispTimeGraph('Green')">Draw Graph</button>
    </div>
    <br>
    <div style="text-align:left;">
        <label for="scale">Scaling Mode:</label>
    </div>
    <div style="text-align:left; padding-left:72px">
        <input type="radio" id="scale_auto" name="scale" onchange="clearScale()" value="scale_auto" checked>                                                   
        <label for="scale">Automatic</label><br>
        <input type="radio" id="scale_manu" name="scale" onchange="clearScale()" value="scale_manu" disabled>                                                   
        <label for="scale">Manual</label>
    </div>
    <br>
    <div style="text-align:left;">
        <label>Y (g)</label>
    </div>    
    <div style="text-align:right;">
        <label for="y_min">Min</label>
        <input type="number" id="y_min" name="y_min" value=''><br>
        <label for="y_max">Max</label>
        <input type="number" id="y_max" name="y_max" value=''><br>   
        <label for="y_grid">Grid</label>
        <input type="number" id="y_grid"name="y_grid" value='' disabled>
    </div>
    <br>
    <div style="text-align:left;">
        <label>X (sec)</label>
    </div>
    <div style="text-align:right;">
        <label for="x_min">Min</label>
        <input type="number" id="x_min" name="x_min" value=''><br>
        <label for="x_max">Max</label>
        <input type="number" id="x_max" name="x_max" value=''><br>   
        <label for="x_grid">Grid</label>
        <input type="number" id="x_grid"name="x_grid" value='' disabled>
    </div>
    <br>
    <div style="text-align:left;">
        <label>Draw Mode:</label>
    </div>
    <div style="text-align:left; padding-left:72px"">
        <input type="radio" id="draw_s" name="draw" onchange="setAutoScale()" value="Sum(X,Y,Z)" checked>
        <label for="draw">Sum of all direction</label><br>
        <input type="radio" id="draw_x" name="draw" onchange="setAutoScale()" value="X only">
        <label for="draw">X direction only</label><br>
        <input type="radio" id="draw_y" name="draw" onchange="setAutoScale()" value="Y only">
        <label for="draw">Y direction only</label><br>
        <input type="radio" id="draw_z" name="draw" onchange="setAutoScale()" value="Z only">
        <label for="draw">Z direction only</label>
    </div>
    <br>
    <div>
        <button class="button-l" id="btn_log"  onclick="logList()">Update log list</button>
    </div>
    <div style="width:100%; padding-top:8px;">    
        <select id="log_list" name="log_list" size="10" style="width:100%;">
        </select>            
    </div>
                                                       
{% endblock %}

{% block right %}

    <div style="text-align:left"><b>Accelerometer Sensor Data - Time Series Graph</b></div>
    <div style="text-align:left">
        <label id="time_label"></label>Measured Time : </label>
        <label id="time_stamp" style="font-weight:bold; color:blueviolet;"></label>
        
        <label id="freq_label"></label>, Frequency : </label>
        <label id="freq_stamp" style="font-weight:bold; color:blueviolet;"></label>
        
        <label id="mode_label"></label>, Draw Mode : </label>
        <label id="mode_stamp" style="font-weight:bold; color:blueviolet;"></label>
    </div> 

    <div class="form">
        <div id="chart-box"></div>
    </div>

    <script>
        function logList() {
            var i, n;
            const select_btn = document.getElementById("btn_log");
            const select_box = document.getElementById("log_list");
            const select_nam = document.getElementById("file_name");
            axios.post('/post_logList', {
                // value: value,
            }).then(response => {
                const data = response.data;
                // add option           
                const cnt = data.rows.length;
                for (i = 0; i < cnt; i++) { 
                    let opt = document.createElement('option');
                    opt.text = data.rows[i]
                    select_box.add(opt);
                }           
                select_btn.innerHTML = 'Select log';
                select_btn.disabled = true
                
            }).catch(function (error) {
                alert('Error occurred on submit: ' + error);
            });            
        }

        function dispTimeGraph(color_val) {
            document.getElementById("btn_draw").disabled = true;
            // drawing option
            var r_btn = document.getElementsByName("draw");
            var i;
            var value;        
            for (i = 0; i < r_btn.length; i++) {
                if ( r_btn[i].checked ) {
                    value = r_btn[i].value;
                }
            }
            const fname = document.getElementById("log_list").value;     
            axios.post('/post_graphTime', {
                value: value,
                fname: fname,
            }).then(response => {
                const data = response.data;
                // drawing
                drawGraph(data, color_val,
                    document.getElementById("y_min"),
                    document.getElementById("y_max"),
                    document.getElementById("x_min"),
                    document.getElementById("x_max")
                );
                document.getElementById("time_stamp").innerHTML = data.t;
                document.getElementById("freq_stamp").innerHTML = data.f;
                document.getElementById("mode_stamp").innerHTML = data.m;
                document.getElementById("btn_draw").disabled = false;
                document.getElementById("scale_manu").disabled = false;
                document.getElementById("scale_manu").checked = true;
            }).catch(function (error) {
                alert('Error occurred on submit: ' + error);
            });            
        }
    </script>    

    <script type="text/javascript" src="/static/js/drawing.js"></script>

{% endblock %}