<!--
    html for Sensor Data Minitoring & Analysis System(WSN application)
-->
{% extends "m_base.html" %}

{% block head %}
{% endblock %}

{% block foot %}
    <div><b>Introduction</b> <a href="/">Click</a> to return home...</div>
{% endblock %}

{% block body_bottom %}
{% endblock %}

{% block right %}
    <div style="text-align:center; padding-top:8px;">
        <button onclick="window.location.href='/m_intro_1'"> 《 Back 《 </button>
    </div>
    <div style="text-align:center; padding:8px;">
        <img class="contain" src="/static/images/intro-2.jpg">
    </div>
{% endblock %}