{% extends "m_base.html" %}

{% block left %}
    <p style="text-align:center;">Sub-Menu</p>
{% endblock %}

{% block right %}
    <p style="position:absolute; top:56px; left:1174px;">
    <button onclick="window.location.href='/m_intro_2'">Next...</button>
    </p>
    <p style="text-align:center; padding-top:30px;">
    <img src="/static/images/intro-1.jpg" align="middle" width="900" height="600" />
    </p>
{% endblock %}

{% block foot %}
    <p style="font-size:14px; color:white;">
    <strong>Introduction</strong> <a href="/">Click</a> to return...
    </p>
{% endblock %}