<!--
    html for Sensor Data Minitoring & Analysis System(WSN application)
-->
{% extends "m_mobile_base.html" %}

{% block head %}
    <style>
        .grid-container {
            display: grid;
            width: 600px;
            height: 900px;
            grid-template-columns: 16px auto;
            grid-template-areas: 
                'top      top      top      top       top'
                'top-left top-left top-left top-right top-right' 
                'left     right    right    right     right' 
                'foot     foot     foot     foot      foot';
        }
        .right {
            width: 584px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block foot %}
    <div>
        <b>Introduction</b> <a href="/m">Click</a> to return home...
    </div>
{% endblock %}

{% block body_bottom %}
{% endblock %}

{% block left %}
{% endblock %}

{% block right %}
    <div style="text-align:center; padding-top:20px;">
        <img class="contain" width=520; src="/static/images/intro-0.jpg">
    </div>
{% endblock %}
