{% extends "m_mobile_base.html" %}

{% block head %}
    <style>
        .grid-container {
            display: grid;
            width: 600px;
            height: 100%;
            grid-template-columns: 150px auto;
            grid-template-areas: 
                'top      top      top      top'
                'top-left top-left top-left top-right' 
                'left     righ     right    right' 
                'foot     foot     foot     foot';
        }
        .right {
            width: 450px;
        }
    </style>
{% endblock %}

{% block foot %}
    <div>Push [Start] button to run monitoring...</div>
{% endblock %}

{% block left %}
    <div><b>Sensor Monitoring</b></div><br> 
    <div style="text-align:left; padding-left:8px;">
        <label for="tm_interval">Interval :</label>
    </div>
    <div style="text-align:right; padding-right:2px;">
        <input type="number" id="tm_interval" name="tm_interval" value="3" min="3" max="5">
        <label for="tm_interval">sec</label>
    </div><br>    
    <div style="padding:16px;">
        <button class="button-l" id="btn_start" onclick="monBegin()"> Start </button>
        <br><br>
        <button class="button-l" id="btn_stop"  onclick="monStop()" disabled> Stop </button>
    </div>
{% endblock %}

{% block right %}

<div style="text-align:left"><b>SCD Sensor Data - on-time display</b></div>
<br>
<hr>
<div style="padding-left:0px">
    <label id="row_0_label">Time : </label>
    <br>
    <label id="row_0" style="color:blueviolet;"><b>YYYY-MM-DD hh:mm:ss [unix_time]</b></label>
</div> 
<hr>
<div style="padding-left:0px; padding-top:12px">
    <label id="status_0_label">Movement Status : </label>
    <label class="status" id="status_0">unknown</label>
</div>
<div style="padding-left:48px; padding-top:12px">   
    <label id="status_1_label">Fault Status : </label>
    <label class="status" id="status_1">unknown</label>
</div>
<br>
<div tyle="text-align:left;">
    <table id="monitor">
        <tr>
            <th>Sensor</th>
            <th>Value</th>
            <th>UoM</th>
        </tr>
        <tr>
            <td class="col_00">accelero. mean X</td>
            <td class="col_01" id="row_1">-</td>
            <td class="col_02">G-forces (g)</td>
        </tr>
        <tr>
            <td class="col_00">accelero. vari. X</td>
            <td class="col_01" id="row_2">-</td>
            <td class="col_02">g<sup>2</sup></td>
        </tr>
        <tr>
            <td class="col_00">accelero. mean. Y</td>
            <td class="col_01" id="row_3">-</td>
            <td class="col_02">G-forces (g)</td>
        </tr>
        <tr>
            <td class="col_00">accelero. vari. Y</td>
            <td class="col_01" id="row_4">-</td>
            <td class="col_02">g<sup>2</sup></td>
        </tr>
        <tr>
            <td class="col_00">accelero. mean. Z</td>
            <td class="col_01" id="row_5">-</td>
            <td class="col_02">G-forces (g)</td>
        </tr>
        <tr>
            <td class="col_00">accelero. vari. Z</td>
            <td class="col_01" id="row_6">-</td>
            <td class="col_02">g<sup>2</sup></td>
        </tr>
        <tr>
            <td class="col_00">temperature</td>
            <td class="col_01" id="row_7">-</td>
            <td class="col_02">celcius (℃)</td>
        </tr>
        <tr>
            <td class="col_00">light</td>
            <td class="col_01" id="row_8">-</td>
            <td class="col_02">Lux (lx)</td>
        </tr>
        <tr>
            <td class="col_00">magnetometer X</td>
            <td class="col_01" id="row_9">-</td>
            <td class="col_02">micro-tesla (&#181;T)</td>
        </tr>
        <tr>
            <td class="col_00">magnetometer Y</td>
            <td class="col_01" id="row_10">-</td>
            <td class="col_02">micro-tesla (&#181;T)</td>
        </tr>
        <tr>
            <td class="col_00">magnetometer Z</td>
            <td class="col_01" id="row_11">-</td>
            <td class="col_02">micro-tesla (&#181;T)</td>
            </tr>
    </table>
</div> 

<script>

    var tid = null;
    var col = 'black';
    var row_val;
    var dat_val;
    var row_col = new Array();
    var i;

    function dispData(data) {
        
        for ( i = 1; i  < 12; i++ ) { 
            row_val = parseFloat( document.getElementById("row_" + i).innerHTML );
            dat_val = parseFloat( data.row[i] );
            if (row_val > dat_val) { col = 'blue'; } else { 
                if (row_val < dat_val) { col = 'red'; } else { col = 'black'; } 
            }
            row_col[i] = col;
        }

        document.getElementById("row_0").innerHTML = data.row[0]; // time
        for ( i = 1; i  < 12; i++ ) { 
            if ( data.row[i] != '*' ) {   
                document.getElementById("row_" + i).innerHTML = data.row[i]; //.fontcolor(row_col[i]);
            }    
            document.getElementById("row_" + i).style.color = row_col[i];
        }
        for ( i = 0; i  < 2; i++ ) { 
            document.getElementById("status_" + i).innerHTML = data.status[i];
        }    

        if (data.status[0] == 'UNKNOWN') {
            col = "gray";
        } else {
            if (data.status[0] == 'VIBRATION') { col = 'blue'; } else { col = 'black'; }
        }    
        document.getElementById("status_0").style.color = col;
        if (data.status[1] == 'UNKNOWN') {
            col = "gray";
        } else {
            if (data.status[1] == 'ABNORMAL') { col = 'red'; } else { col = 'black'; }
        }    
        document.getElementById("status_1").style.color = col;
    }

    function monBegin() {
        // control UI before function run
        disableAllMenus();           
        document.getElementById("btn_start").disabled = true;
        mobStart(0);
    }

    function monStart(value) {
        const interval = document.getElementById('tm_interval').value;
        axios.post('/post_monStart', {
            value: value,
        }).then(response => {
            const data = response.data;
            //console.log(data);
            dispData(data);
            if (data.timer == 'on') {
                tid = setTimeout(monStart, Number(interval)*1000, 1);
                document.getElementById("btn_stop" ).disabled = false;
            } else {
                enableAllMenus();           
            }  
        }).catch(function (error) {
            alert('Error occurred on submit: ' + error);
        });
    }
    
    function monStop() {
        // control UI before function run
        disableAllMenus();           
        document.getElementById("btn_start").disabled = false;
        document.getElementById("btn_stop" ).disabled = true;
        const value = document.getElementById('tm_interval').value;
        clearTimeout ( tid );
        axios.post('/post_monStop', {
            //value: Number(value),
        }).then(response => {
            const data = response.data;
            //console.log(data);
            dispData(data);
        }).catch(function (error) {
            alert('Error occurred on submit: ' + error);
        });
        // control UI after function run
        enableAllMenus();           
    }
</script>

{% endblock %}