<!--
    html for Sensor Data Minitoring & Analysis System(WSN application)
-->
{% extends "m_base.html" %}

{% block head %}
    <script src="https://d3js.org/d3.v4.js"></script>
    <script type="text/javascript" src="/static/js/drawing.js"></script>
    <script type="text/javascript" src="/static/js/misc.js"></script>

    <script>
        var tid = null;
        var color_val = 'blue';
        var i;

        function monASDbegin(is_mobile) {
            // control UI before function run
            disableAllMenus(is_mobile);           
            document.getElementById("btn_startASD").disabled = true;
            monASDstart(0, is_mobile);
        }
        
        function monASDstart(value, is_mobile) {
            const interval = document.getElementById('tm_interval').value;
            axios.post('/post_monASDstart', {
                value: value,
            }).then(response => {
                const data = response.data;
                // monitoring draw
                drawMonGraph(data, color_val);
                document.getElementById("time_stamp").innerHTML = data.t;
                document.getElementById("freq_stamp").innerHTML = data.f;
                document.getElementById("mode_stamp").innerHTML = data.m;
                if (value < 10) {
                    i = value + 1
                    tid = setTimeout(monASDstart, Number(interval)*1000, i, is_mobile);
                    document.getElementById("btn_stopASD" ).disabled = false;
                } else {
                    //enableAllMenus(is_mobile);
                    monASDstop(is_mobile)
                }  
            }).catch(function (error) {
                alert('Error occurred on submit: ' + error);
            });
        }
        
        function monASDstop(is_mobile) {
            // control UI before function run
            disableAllMenus(is_mobile);           
            document.getElementById("btn_startASD").disabled = false;
            document.getElementById("btn_stopASD" ).disabled = true;
            const value = document.getElementById('tm_interval').value;
            clearTimeout ( tid );
            axios.post('/post_monASDstop', {
                //value: Number(value),
            }).then(response => {
                //const data = response.data;
                //console.log(data);
                //
            }).catch(function (error) {
                alert('Error occurred on submit: ' + error);
            });
            // control UI after function run
            enableAllMenus(is_mobile);           
        }
    </script>

{% endblock %}

{% block foot %}
    <div><b>Push [Start] button to run monitoring...</b></div>
{% endblock %}

{% block body_bottom %}
{% endblock %}

{% block left %}
    <div style="text-align:center;"><b>ASD Sensor Data Monitoring</b></div><br> 
    <div style="text-align:  left; padding-left:8px;">
        <label for="tm_interval">Display interval</label>
        <input type="number" id="tm_interval" name="tm_interval" value="1" min="1" max="60">
        <label for="tm_interval">sec</label>
    </div><br>    
    <div style="text-align: right; padding-right:8px; padding-bottom:8px;">
        <button class="button-l" id="btn_startASD" onclick="monASDbegin('N')"> Start </button>
        <br><br>
        <button class="button-l" id="btn_stopASD"  onclick="monASDstop('N')" disabled> Stop </button>
    </div>
{% endblock %}

{% block right %}
    <div style="text-align:left"><b>Accelerometer Sensor Data - Frequency Monitoring</b></div>
    <div style="text-align:left">
        <label id="time_label"></label>Measured Time : </label>
        <label id="time_stamp" style="font-weight:bold; color:blueviolet;"></label>
        
        <label id="freq_label"></label>, Frequency : </label>
        <label id="freq_stamp" style="font-weight:bold; color:blueviolet;"></label>
        
        <label id="mode_label"></label>, Draw Mode : </label>
        <label id="mode_stamp" style="font-weight:bold; color:blueviolet;"></label>
    </div> 
        
    <div class="form">
        <div id="chart-box"></div>
    </div>

{% endblock %}