<!--
    html for Sensor Data Minitoring & Analysis System(WSN application)
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="/static/css/mbase.css">
    <link rel="stylesheet" href="/static/css/mgrid.css">
    <link rel="stylesheet" href="/static/css/mtable.css">
    <link rel="stylesheet" href="/static/css/mform.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block head %}
    <!--
        put js here !!!
    -->
    {% endblock %}
    <title>Sensor Data Monitoring Mobile</title>
</head>

<body>
    <div class="grid-container">
        <!-- application header -->
        <div class="top">
            <b>【Sensor Data Monitoring】</b> prototype β version
        </div>      
        <!-- menu buttons left side -->
        <div class="top-left">
            <button class="button-r" id="btn_ihome" onclick="window.location.href='/m'"        ><i class="fa fa-home"></i> Home</button>
            <button class="button-r" id="btn_monit" onclick="window.location.href='/m_mobile'" ><b>Sensor Monitoring</b></button>
        </div>
        <!-- menu buttons right side -->
        <div class="top-right">
            <button class="button-r" id="btn_about" onclick="window.location.href='/m_intro_0'"><i class="fa fa-info-circle"></i> About...</button>
        </div>
        <!-- application area left side -->
        <div class="left">
            {% block left %}
            {% endblock %}
        </div>       
        <!-- application area right side -->   
        <div class="right" style="text-align: left">
            {% block right %}
            {% endblock %}
        </div>
        <!-- application footer -->
        <div class="foot">
            {% block foot %}
            {% endblock %}
        </div>
    </div>

    {% block body_bottom %}
    <!--
        if any html, put those here !!!
    -->
    {% endblock %}
</body>
</html>