{% extends "m_base.html" %}

{% block left %}
    <p style="text-align:center;"><Strong>Sensor Data Monitoring</Strong><cr></p> 
    <p style="text-align: right; padding-right:8px;"><button id="btn_start" onclick="monBegin()"> Start </button></p>
    <p style="text-align: right; padding-right:8px;"><button id="btn_stop"  onclick="monStop()" disabled> Stop </button></p>
    <p style="position:absolute; left:  8px; top:72px;"><label>Option</label></p>
    <p style="position:absolute; left: 60px; top:72px;"><label>Interval</label></p>
    <p style="position:absolute; left:114px; top:70px; width:30px;"><input type="number" id="tm_interval" value="3" min="1" max="5"></p>
    <p style="position:absolute; left:180px; top:72px;"><label>sec</label></p>    
{% endblock %}

{% block foot %}
    <p style="color:aqua;">Monitoring Sensor Data...</p>
{% endblock %}

{% block right %}

<div style="text-align:center"><Strong>SCD Sensor Data - on-time display</Strong></div>
<div>
    <label id="row_00_label">Sensor Measured Time : </label>
    <label id="row_00">YYYY-MM-DD hh:mm:ss [unix time]</label>
</div>    

<table id="monitor">
        <tr>
            <th>Sensor</th>
            <th>Value Measured</th>
            <th>Unit of Measure</th>
        </tr>
        <tr>
            <td class="col_00">accelerometer mean X-axis</td>
            <td class="col_01" id="row_01">-</td>
            <td class="col_02" style="text-align:left;">g</td>
        </tr>
        <tr>
            <td class="col_00">accelerometer variance X-axis</td>
            <td class="col_01" id="row_02">-</td>
            <td class="col_02" style="text-align:left;">g**2</td>
        </tr>
        <tr>
            <td class="col_00">accelerometer mean. Y-axis</td>
            <td class="col_01" id="row_03">-</td>
            <td class="col_02" style="text-align:left;">g</td>
        </tr>
        <tr>
            <td class="col_00">accelerometer variance Y-axis</td>
            <td class="col_01" id="row_04">-</td>
            <td class="col_02" style="text-align:left;">g**2</td>
        </tr>
        <tr>
            <td class="col_00">accelerometer mean. Z-axis</td>
            <td class="col_01" id="row_05">-</td>
            <td class="col_02" style="text-align:left;">g</td>
        </tr>
        <tr>
            <td class="col_00">accelerometer variance Z-axis</td>
            <td class="col_01" id="row_06">-</td>
            <td class="col_02" style="text-align:left;">g**2</td>
        </tr>
        <tr>
            <td class="col_00">temperature</td>
            <td class="col_01" id="row_07">-</td>
            <td class="col_02" style="text-align:left;">celcius</td>
        </tr>
        <tr>
            <td class="col_00">light</td>
            <td class="col_01" id="row_08">-</td>
            <td class="col_02" style="text-align:left;">Lux</td>
        </tr>
        <tr>
            <td class="col_00">magnetometer X-axis</td>
            <td class="col_01" id="row_09">-</td>
            <td class="col_02" style="text-align:left;">uT</td>
        </tr>
        <tr>
            <td class="col_00">magnetometer Y-axis</td>
            <td class="col_01" id="row_10">-</td>
            <td class="col_02" style="text-align:left;">uT</td>
        </tr>
        <tr>
            <td class="col_00">magnetometer Z-axis</td>
            <td class="col_01" id="row_11">-</td>
            <td class="col_02" style="text-align:left;">uT</td>
        </tr>
</table>

<script>

    var tid = null

    function dispData(data) {
        const oval_01 = parseFloat(document.getElementById('row_01').value);
        const oval_02 = parseFloat(document.getElementById('row_02').value);
        const oval_03 = parseFloat(document.getElementById('row_03').value);
        const oval_04 = parseFloat(document.getElementById('row_04').value);
        const oval_05 = parseFloat(document.getElementById('row_05').value);
        const oval_06 = parseFloat(document.getElementById('row_06').value);
        const oval_07 = parseFloat(document.getElementById('row_07').value);
        const oval_08 = parseFloat(document.getElementById('row_08').value);
        const oval_09 = parseFloat(document.getElementById('row_09').value);
        const oval_10 = parseFloat(document.getElementById('row_10').value);
        const oval_11 = parseFloat(document.getElementById('row_11').value);
        document.getElementById("row_00").innerHTML = data.row_00;
        document.getElementById("row_01").innerHTML = data.row_01;
        document.getElementById("row_02").innerHTML = data.row_02;
        document.getElementById("row_03").innerHTML = data.row_03;
        document.getElementById("row_04").innerHTML = data.row_04;
        document.getElementById("row_05").innerHTML = data.row_05;
        document.getElementById("row_06").innerHTML = data.row_06;
        document.getElementById("row_07").innerHTML = data.row_07;
        document.getElementById("row_08").innerHTML = data.row_08;
        document.getElementById("row_09").innerHTML = data.row_09;
        document.getElementById("row_10").innerHTML = data.row_10;
        document.getElementById("row_11").innerHTML = data.row_11;
        const nval_01 = parseFloat(document.getElementById('row_01').value);
        const nval_02 = parseFloat(document.getElementById('row_02').value);
        const nval_03 = parseFloat(document.getElementById('row_03').value);
        const nval_04 = parseFloat(document.getElementById('row_04').value);
        const nval_05 = parseFloat(document.getElementById('row_05').value);
        const nval_06 = parseFloat(document.getElementById('row_06').value);
        const nval_07 = parseFloat(document.getElementById('row_07').value);
        const nval_08 = parseFloat(document.getElementById('row_08').value);
        const nval_09 = parseFloat(document.getElementById('row_09').value);
        const nval_10 = parseFloat(document.getElementById('row_10').value);
        const nval_11 = parseFloat(document.getElementById('row_11').value);

        //if (oval_07 == nval_07) { document.getElementById("row_07").style.color = 'black'; }
        if (oval_07 > nval_07) { document.getElementById("row_07").style.color = 'blue'; }
        if (oval_07 < nval_07) { document.getElementById("row_07").style.color = 'red'; }

        //if (oval_08 == nval_08) { document.getElementById("row_08").style.color = 'black'; }
        if (oval_08 > nval_08) { document.getElementById("row_08").style.color = 'biue'; }
        if (oval_08 < nval_08) { document.getElementById("row_08").style.color = 'red'; }

    }

    function monBegin() {
        document.getElementById("btn_start").disabled = true;
        document.getElementById("btn_stop" ).disabled = false;
        monStart();
    }


    function monStart() {
        const value = document.getElementById('tm_interval').value;
        axios.post('/post_monStart', {
            //value: Number(value),
        }).then(response => {
            const data = response.data;
            dispData(data);
            //console.log(data);
        }).catch(function (error) {
            alert('Error occurred on submit: ' + error);
        });
        tid = setTimeout(monStart, Number(value)*1000);
    }
    
    function monStop() {
        document.getElementById("btn_start").disabled = false;
        document.getElementById("btn_stop" ).disabled = true;
        const value = document.getElementById('tm_interval').value;
        clearTimeout ( tid );
        axios.post('/post_monStop', {
            //value: Number(value),
        }).then(response => {
            const data = response.data;
            dispData(data);
            //console.log(data);
        }).catch(function (error) {
            alert('Error occurred on submit: ' + error);
        });
    }
</script>

{% endblock %}