{% extends "m_base.html" %}


{% block foot %}
    <div>Select the sensor mode</div>
{% endblock %}

{% block left %}
    <div style="text-align:center;"><b>Sensor Config. Setting</b></div><br><br>

    <div style="text-align:left;">
        <input type="checkbox" id="accl_on" name="accl_on" value="accl">                                                   
        <label>Acclerlometer</label>
    </div>
    <div style="text-align:left; padding-left:68px;">
        <label>Frequency :</label>
    </div>                                                        
    <div style="text-align:left; padding-left:76px;">
        <input type="radio" id="freq_400" name="accl_freq" value="400" disabled=True>                                                    
        <label>400 Hz</label><br>
        <input type="radio" id="freq_800" name="accl_freq" value="800" disabled=True>
        <label>800 Hz</label><br>
        <input type="radio" id="freq_1600" name="accl_freq" value="400" disabled=True>
        <label>1600 Hz</label><br>
        <input type="radio" id="freq_3200" name="accl_freq" value="800" checked>
        <label>3200 Hz (default)</label><br>
        <input type="radio" id="freq_6400" name="accl_freq" value="400" disabled=True>
        <label>6400 Hz</label>
    </div><br>
    <div style="text-align:left;">
        <input type="checkbox" id="temp_on" name="sensor" value="temp" checked>
        <label>Temperature</label>
    </div><br>
    <div style="text-align:left;">
        <input type="checkbox" id="ligh_on" name="sensor" value="ligh" checked>
        <label>Light</label>
    </div>
    <div style="text-align:left; padding-left:68px;">
        <label>Frequency :</label>
    </div>                                                        
    <div style="text-align:left; padding-left:76px;">
        <input type="radio" id="freq_10" name="ligh_freq" value="400" checked>                                                    
        <label>10 Hz (default)</label><br>
        <input type="radio" id="freq_1250" name="ligh_freq" value="800" disabled=True>
        <label>1250 Hz</label>
    </div><br>
    <div style="text-align:left;">
        <input type="checkbox" id="magn_on" name="magn_on" value="magn" checked>
        <label>Magnetometer</label>
    </div>
    <script>
        document.getElementById("accl_on").checked = true;
        document.getElementById("temp_on").checked = true;
        document.getElementById("ligh_on").checked = true;
        document.getElementById("magn_on").checked = true;
    </script>    

{% endblock %}

{% block right %}
    <div style="text-align:center;">
        <b>Snesor Description</b><br>
        model: BOSCH SCD 110 - support 4 sensors: 3-Axis acclerlometer, temperature, light, magnetometer
    </div>
    <br>
    <div style="text-align:center; padding-top:16px;">
        <img src="/static/images/sensor_SCD.png">
    </div>    
{% endblock %}
