{% extends "m_mobile_base.html" %}

{% block head %}
    <style>
        .grid-container {
            display: grid;
            width: 600px;
            grid-template-columns: 30px auto;
            grid-template-areas: 
                'top      top      top      top       top'
                'top-left top-left top-left top-right top-right' 
                'left     right    right    right     right' 
                'foot     foot     foot     foot      foot';
        }
    </style>
{% endblock %}

{% block left %}
{% endblock %}

{% block right %}
    <div style="text-align:left; padding-top:30px;">
        <img class="contain" width=550 src="/static/images/mmain.png">
    </div>
{% endblock %}

{% block foot %}
    <div>by Systems & Industrial Engineering Dep., KAIST</div>
{% endblock %}
